{% extends 'base.html' %}

{% block content %}
<h1> Personalised Visualisation of Correlation Plugin for Qualtrics</h1>
<p>This site provides a 3D visualisation of the current state of any qualtrics survey.  It is optmised for surveys collecting correlated data on a simple scale such as a DSM questionnaire on a five-point scale.</p>
<p>As this plugin is designed to go at the end of a qualtrics survey, the best demonstration is provided by <a href="https://mqedu.qualtrics.com/jfe/form/SV_2i51uu8Vidq2zC5">answering a quick demonstration survey</a>.  If you would like to see only an empty visualations, <a href="data">you can see one here.</a></p>

<p>
This plugin was developed during the winter 2018 session of the <a href="https://www.mq.edu.au/about/about-the-university/faculties-and-departments/faculty-of-science-and-engineering/departments-and-centres/department-of-computing/engage/undergraduate-research-workshop">Macquarie Undergraduate Research Workshop</a> by:
<ul>
<li><a href="https://researchers.mq.edu.au/en/persons/matt-roberts">Matthew Roberts</a></li>
<li><a href="https://researchers.mq.edu.au/en/persons/miri-forbes">Miri Forbes</a></li>
<li>Emma Walker</li>
<li>Tam Du</li>
<li>Oscar Gardiner</li>
<li>Kyle Long</li>
</ul>

This plugin is open-sourced under the Mozilla public licence and thus there are very few restriction on its use. As an academic project the authors ask that when the code or the public instance are used that citation (in the case of academic use) or donation (in the case of for-profit use) be considered.

{% endblock %}